
@{
    ViewBag.Title = "ConsultaTelefone";
}

<h2>Consultar</h2>

@using (Html.BeginForm("ConsultaTelefone", "Cliente", FormMethod.Post))
{
    <div class="form-group">
        @Html.Label("Digite o númerop do telefone", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.Editor("telefone", new { htmlAttributes = new { @class = "form-control" } })            
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Consultar" class="btn btn-default" />
        </div>        
    </div>

}

